### Build a Sequential Neural Network using the familiar Census Data

In [5]:
# From last week
import keras
import tensorflow as tf
tf.__version__

'2.12.0'

### 1. Import the now (very) familiar US Census Income Data

In [6]:
import pandas
from sklearn.svm import SVC
import sklearn
from sklearn import preprocessing

from sklearn.model_selection import train_test_split

col_names = [
    "Age", "WorkClass", "fnlwgt", "Education", "EducationNum",
    "MaritalStatus", "Occupation", "Relationship", "Race", "Gender",
    "CapitalGain", "CapitalLoss", "HoursPerWeek", "NativeCountry", "Income"
]

df = pandas.read_csv(r'C:\Users\khalil\ML Lab 11\adult.csv')
df.columns=col_names
df['Income'] = df['Income'].apply(lambda x: 0 if x == ' <=50K' else 1)

### 2. Split the data and use preprocessing StandardScaler on the data

In [10]:

for column in df.columns:
    if df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df[column] = le.fit_transform(df[column])
df.tail()

,Age,WorkClass,fnlwgt,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Income
48837,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,1
48838,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
48839,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,1
48840,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,1
48841,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [11]:
X = df.drop(columns='Income')
X = pandas.DataFrame(preprocessing.StandardScaler().fit_transform(X), columns=X.columns)
y = df['Income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=555, stratify=y)

### 3. Use the Tensorflow and Keras libraries from last week to build a NN.

*Use today's class notes as a guild.  Try using different activation functions

In [12]:
import numpy as np

from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import Adam

In [16]:
nn_X_train = np.reshape(X_train.values, (X_train.shape[0], X_train.shape[1], 1))
nn_X_test = np.reshape(X_test.values, (X_test.shape[0], X_test.shape[1], 1))

In [17]:
mdl_k = tf.keras.Sequential([tf.keras.layers.Input(shape=(nn_X_train.shape[1], nn_X_train.shape[2]))])
mdl_k.add(tf.keras.layers.Dense(12, input_dim=3, activation='relu', kernel_initializer="he_normal"))
mdl_k.add(tf.keras.layers.Dropout(0.5))
mdl_k.add(tf.keras.layers.Dense(8, activation='relu'))

mdl_k.add(tf.keras.layers.LSTM(64))
mdl_k.add(tf.keras.layers.LeakyReLU(alpha=0.2))
mdl_k.add(tf.keras.layers.Dense(1, activation='relu'))

In [18]:
# Compile model
mdl_k.compile(loss='mse', optimizer=tf.keras.optimizers.Adam(learning_rate=1e-3), metrics=['accuracy'])

In [19]:
mdl_k.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 14, 12)            24

 dropout (Dropout)           (None, 14, 12)            0

 dense_1 (Dense)             (None, 14, 8)             104

 lstm (LSTM)                 (None, 64)                18688

 leaky_re_lu (LeakyReLU)     (None, 64)                0

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 18,881
Trainable params: 18,881
Non-trainable params: 0
_________________________________________________________________

In [20]:
val_dataset = tf.data.Dataset.from_tensor_slices((nn_X_test, y_test)).batch(batch_size=128)

In [21]:
%%time
history = mdl_k.fit(
    nn_X_train,
    y_train,
    epochs=50,
    batch_size=128,
    # validation_data=(nn_X_test, y_test),
    validation_data=val_dataset,
    #validation_split=0.1,
#     callbacks=[
#         tf.keras.callbacks.EarlyStopping(monitor="val_loss", patience=5, mode="min", verbose=2)
#     ],
    use_multiprocessing=True
)

Epoch 1/50
306/306 [==============================] - 13s 25ms/step - loss: 0.0311 - accuracy: 0.9661 - val_loss: 1.5741e-04 - val_accuracy: 1.0000
Epoch 2/50
306/306 [==============================] - 6s 21ms/step - loss: 1.1292e-04 - accuracy: 1.0000 - val_loss: 3.6745e-05 - val_accuracy: 1.0000
Epoch 3/50
306/306 [==============================] - 7s 24ms/step - loss: 5.1590e-05 - accuracy: 1.0000 - val_loss: 1.3070e-05 - val_accuracy: 1.0000
Epoch 4/50
306/306 [==============================] - 7s 22ms/step - loss: 2.9594e-05 - accuracy: 1.0000 - val_loss: 1.1102e-05 - val_accuracy: 1.0000
Epoch 5/50
306/306 [==============================] - 7s 24ms/step - loss: 2.0050e-05 - accuracy: 1.0000 - val_loss: 7.5036e-06 - val_accuracy: 1.0000
Epoch 6/50
306/306 [==============================] - 7s 23ms/step - loss: 1.5214e-05 - accuracy: 1.0000 - val_loss: 5.8028e-06 - val_accuracy: 1.0000
Epoch 7/50
306/306 [==============================] - 7s 21ms/step - loss: 1.0812e-05 - accuracy: 1.0000 - val_loss: 4.3020e-06 - val_accuracy: 1.0000
Epoch 8/50
306/306 [==============================] - 7s 24ms/step - loss: 8.2050e-06 - accuracy: 1.0000 - val_loss: 3.1470e-06 - val_accuracy: 1.0000
Epoch 9/50
306/306 [==============================] - 6s 21ms/step - loss: 7.2753e-06 - accuracy: 1.0000 - val_loss: 3.6729e-06 - val_accuracy: 1.0000
Epoch 10/50
306/306 [==============================] - 8s 25ms/step - loss: 6.2794e-06 - accuracy: 1.0000 - val_loss: 2.0714e-06 - val_accuracy: 1.0000
Epoch 11/50
306/306 [==============================] - 6s 20ms/step - loss: 5.4166e-06 - accuracy: 1.0000 - val_loss: 1.2220e-06 - val_accuracy: 1.0000
Epoch 12/50
306/306 [==============================] - 7s 23ms/step - loss: 4.6417e-06 - accuracy: 1.0000 - val_loss: 1.1804e-06 - val_accuracy: 1.0000
Epoch 13/50
306/306 [==============================] - 7s 23ms/step - loss: 4.0864e-06 - accuracy: 1.0000 - val_loss: 1.1874e-06 - val_accuracy: 1.0000
Epoch 14/50
306/306 [==============================] - 7s 24ms/step - loss: 3.6594e-06 - accuracy: 1.0000 - val_loss: 1.1603e-06 - val_accuracy: 1.0000
Epoch 15/50
306/306 [==============================] - 8s 27ms/step - loss: 4.5735e-06 - accuracy: 1.0000 - val_loss: 1.9613e-06 - val_accuracy: 1.0000
Epoch 16/50
306/306 [==============================] - 7s 24ms/step - loss: 3.1344e-06 - accuracy: 1.0000 - val_loss: 1.7021e-06 - val_accuracy: 1.0000
Epoch 17/50
306/306 [==============================] - 7s 23ms/step - loss: 4.2830e-06 - accuracy: 1.0000 - val_loss: 1.4465e-06 - val_accuracy: 1.0000
Epoch 18/50
306/306 [==============================] - 6s 20ms/step - loss: 3.5755e-06 - accuracy: 1.0000 - val_loss: 4.0505e-06 - val_accuracy: 1.0000
Epoch 19/50
306/306 [==============================] - 7s 24ms/step - loss: 3.8614e-06 - accuracy: 1.0000 - val_loss: 1.1798e-06 - val_accuracy: 1.0000
Epoch 20/50
306/306 [==============================] - 7s 23ms/step - loss: 3.2157e-06 - accuracy: 1.0000 - val_loss: 8.1753e-06 - val_accuracy: 1.0000
Epoch 21/50
306/306 [==============================] - 7s 24ms/step - loss: 3.6196e-06 - accuracy: 1.0000 - val_loss: 1.0212e-06 - val_accuracy: 1.0000
Epoch 22/50
306/306 [==============================] - 7s 22ms/step - loss: 3.6416e-06 - accuracy: 1.0000 - val_loss: 5.2081e-06 - val_accuracy: 1.0000
Epoch 23/50
306/306 [==============================] - 6s 21ms/step - loss: 3.6925e-06 - accuracy: 1.0000 - val_loss: 6.9500e-07 - val_accuracy: 1.0000
Epoch 24/50
306/306 [==============================] - 7s 22ms/step - loss: 3.2473e-06 - accuracy: 1.0000 - val_loss: 1.2048e-06 - val_accuracy: 1.0000
Epoch 25/50
306/306 [==============================] - 7s 22ms/step - loss: 3.9151e-06 - accuracy: 1.0000 - val_loss: 7.4773e-06 - val_accuracy: 1.0000
Epoch 26/50
306/306 [==============================] - 8s 26ms/step - loss: 4.0398e-06 - accuracy: 1.0000 - val_loss: 5.2538e-07 - val_accuracy: 1.0000
Epoch 27/50
306/306 [==============================] - 7s 22ms/step - loss: 2.9796e-06 - accuracy: 1.0000 - val_loss: 9.5628e-07 - val_accuracy: 1.0000
Epoch 28/50
306/306 [==============================] - 7s 24ms/step - loss: 2.9513e-06 - accuracy: 1.0000 - val_loss: 3.0392e-06 - val_accuracy: 1.0000
Epoch 29/50
306/306 [==============================] - 7s 22ms/step - loss: 2.8613e-06 - accuracy: 1.0000 - val_loss: 8.6441e-07 - val_accuracy: 1.0000
Epoch 30/50
306/306 [==============================] - 7s 24ms/step - loss: 2.5852e-06 - accuracy: 1.0000 - val_loss: 2.2655e-07 - val_accuracy: 1.0000
Epoch 31/50
306/306 [==============================] - 7s 23ms/step - loss: 4.6066e-06 - accuracy: 1.0000 - val_loss: 4.1937e-07 - val_accuracy: 1.0000
Epoch 32/50
306/306 [==============================] - 7s 22ms/step - loss: 1.8579e-06 - accuracy: 1.0000 - val_loss: 2.5015e-07 - val_accuracy: 1.0000
Epoch 33/50
306/306 [==============================] - 7s 24ms/step - loss: 2.4193e-06 - accuracy: 1.0000 - val_loss: 1.1539e-07 - val_accuracy: 1.0000
Epoch 34/50
306/306 [==============================] - 7s 21ms/step - loss: 2.5491e-06 - accuracy: 1.0000 - val_loss: 1.1479e-06 - val_accuracy: 1.0000
Epoch 35/50
306/306 [==============================] - 7s 22ms/step - loss: 3.1568e-06 - accuracy: 1.0000 - val_loss: 1.3794e-05 - val_accuracy: 1.0000
Epoch 36/50
306/306 [==============================] - 7s 22ms/step - loss: 2.1830e-06 - accuracy: 1.0000 - val_loss: 2.5778e-07 - val_accuracy: 1.0000
Epoch 37/50
306/306 [==============================] - 7s 23ms/step - loss: 1.9386e-06 - accuracy: 1.0000 - val_loss: 7.0683e-07 - val_accuracy: 1.0000
Epoch 38/50
306/306 [==============================] - 7s 23ms/step - loss: 2.2044e-06 - accuracy: 1.0000 - val_loss: 1.0306e-07 - val_accuracy: 1.0000
Epoch 39/50
306/306 [==============================] - 7s 23ms/step - loss: 2.4555e-06 - accuracy: 1.0000 - val_loss: 5.2421e-06 - val_accuracy: 1.0000
Epoch 40/50
306/306 [==============================] - 8s 25ms/step - loss: 2.0340e-06 - accuracy: 1.0000 - val_loss: 4.3574e-06 - val_accuracy: 1.0000
Epoch 41/50
306/306 [==============================] - 7s 23ms/step - loss: 1.2995e-06 - accuracy: 1.0000 - val_loss: 1.3996e-06 - val_accuracy: 1.0000
Epoch 42/50
306/306 [==============================] - 7s 23ms/step - loss: 1.6998e-06 - accuracy: 1.0000 - val_loss: 1.5133e-06 - val_accuracy: 1.0000
Epoch 43/50
306/306 [==============================] - 7s 22ms/step - loss: 2.1787e-06 - accuracy: 1.0000 - val_loss: 1.7463e-07 - val_accuracy: 1.0000
Epoch 44/50
306/306 [==============================] - 7s 23ms/step - loss: 1.7078e-06 - accuracy: 1.0000 - val_loss: 3.8462e-07 - val_accuracy: 1.0000
Epoch 45/50
306/306 [==============================] - 7s 24ms/step - loss: 1.3259e-06 - accuracy: 1.0000 - val_loss: 2.6399e-06 - val_accuracy: 1.0000
Epoch 46/50
306/306 [==============================] - 7s 22ms/step - loss: 2.1161e-06 - accuracy: 1.0000 - val_loss: 1.5796e-06 - val_accuracy: 1.0000
Epoch 47/50
306/306 [==============================] - 7s 22ms/step - loss: 1.4347e-06 - accuracy: 1.0000 - val_loss: 1.3186e-05 - val_accuracy: 1.0000
Epoch 48/50
306/306 [==============================] - 9s 28ms/step - loss: 1.2666e-06 - accuracy: 1.0000 - val_loss: 7.2937e-07 - val_accuracy: 1.0000
Epoch 49/50
306/306 [==============================] - 7s 24ms/step - loss: 1.9200e-06 - accuracy: 1.0000 - val_loss: 3.8343e-08 - val_accuracy: 1.0000
Epoch 50/50
306/306 [==============================] - 7s 21ms/step - loss: 1.4539e-06 - accuracy: 1.0000 - val_loss: 4.4597e-08 - val_accuracy: 1.0000
Wall time: 5min 57s

### 4. Build an xgBoost model on this data.  Were you able to build a NN with greater accuracy than xgBoost ?

In [22]:
import statsmodels.api as sm
from sklearn import metrics
from sklearn.ensemble import GradientBoostingClassifier

import xgboost as xgb
from xgboost.sklearn import XGBClassifier

In [23]:
col_names = [
    "Age", "WorkClass", "fnlwgt", "Education", "EducationNum",
    "MaritalStatus", "Occupation", "Relationship", "Race", "Gender",
    "CapitalGain", "CapitalLoss", "HoursPerWeek", "NativeCountry", "Income"
]

df = pandas.read_csv(r'C:\Users\khalil\ML Lab 9\adult.data')
df.columns=col_names
df['Income'] = df['Income'].apply(lambda x: 0 if x == ' <=50K' else 1)

for column in df.columns:
    if df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df[column] = le.fit_transform(df[column])
df.tail()

,Age,WorkClass,fnlwgt,Education,EducationNum,MaritalStatus,Occupation,Relationship,Race,Gender,CapitalGain,CapitalLoss,HoursPerWeek,NativeCountry,Income
32555,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,0
32556,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,1
32557,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,0
32558,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,0
32559,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,1

In [24]:
X = df.drop(columns='Income')
y = df['Income']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=555, stratify=y)

In [25]:
%%time
clf_XGB = XGBClassifier(n_estimators = 100, seed=555, use_label_encoder=False, eval_metric='logloss')
clfs = []
print('5-fold cross validation:\n')
for clf, label in zip([clf_XGB], ['XGBoost']):
    scores = sklearn.model_selection.cross_val_score(clf, X_train, y_train, cv=5, scoring="accuracy")
    print("Train CV Accuracy: %0.3f (+/- %0.3f) [%s]" % (scores.mean(), scores.std(), label))
    md = clf.fit(X_train, y_train)
    clfs.append(md)
    print("Test Accuracy: %0.4f " % (sklearn.metrics.accuracy_score(clf.predict(X_test), y_test)))

C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

5-fold cross validation:

C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")
C:\Users\khalil\anaconda3\lib\site-packages\xgboost\sklearn.py:1395: UserWarning: `use_label_encoder` is deprecated in 1.7.0.
  warnings.warn("`use_label_encoder` is deprecated in 1.7.0.")

Train CV Accuracy: 0.866 (+/- 0.002) [XGBoost]
Test Accuracy: 0.8709
Wall time: 10.6 s

Yeah, NN Accuracy (100%) and it is Greater than XGBoost Classifier Accuracy(87%)