In [30]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn.ensemble import RandomForestRegressor

## Week 5 Lab
#### Build a Decision Tree (Part A) and a Random Forest (Part B) and compare the results
####  Use the data in the Week 5 Canvas Folder

In [31]:
 df = pd.read_csv(r'C:\Users\khalil\ML Lab 5\train.csv')

### Part A: Decision Tree on Wine Dataset from Week 3
#### Target the Quality column
Build a decision Tree

In [32]:
import pandas as pd
import sklearn
import graphviz
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import export_graphviz
from sklearn import tree
from graphviz import Source

df = pd.read_csv(r'C:\Users\khalil\ML Lab 5\train.csv')
x = df.drop(columns=['Survived', 'Name', 'Cabin', 'Embarked'])
y = df[['Survived']]

In [33]:
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [34]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [35]:
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(x, y)

ValueError: could not convert string to float: 'male'

In [36]:
# # Remember our encoding magic that we were going to come back to ??
for column in x.columns:
    if x[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        x[column] = le.fit_transform(x[column])

In [37]:
x.dtypes

PassengerId      int64
Pclass           int64
Sex              int32
Age            float64
SibSp            int64
Parch            int64
Ticket           int32
Fare           float64
dtype: object

In [38]:
x.tail()

     PassengerId  Pclass  Sex   Age  SibSp  Parch  Ticket   Fare
886          887       2    1  27.0      0      0     101  13.00
887          888       1    0  19.0      0      0      14  30.00
888          889       3    0   NaN      1      2     675  23.45
889          890       1    1  26.0      0      0       8  30.00
890          891       3    1  32.0      0      0     466   7.75

In [39]:
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(x, y)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [40]:
df_clean = df.drop(columns=['Name', 'Cabin', 'Embarked'])
for column in df_clean.columns:
    if df_clean[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        df_clean[column] = le.fit_transform(df_clean[column])

In [41]:
df_clean = df_clean.dropna()

In [42]:
df_clean.tail()

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch  Ticket    Fare
885          886         0       3    0  39.0      0      5     480  29.125
886          887         0       2    1  27.0      0      0     101  13.000
887          888         1       1    0  19.0      0      0      14  30.000
889          890         1       1    1  26.0      0      0       8  30.000
890          891         0       3    1  32.0      0      0     466   7.750

In [43]:
x = df_clean.drop(columns='Survived')
y = df_clean[['Survived']]
x_train, x_test, y_train, y_test = train_test_split(x, y)
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=42)

In [44]:
from six import StringIO 
from sklearn.model_selection import train_test_split
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus
import graphviz

In [29]:
# # Let's try a prediction.
test_df = pd.read_csv(r'C:\Users\khalil\ML Lab 5\train.csv')
test_df = test_df.drop(columns=['Survived', 'Name', 'Cabin', 'Embarked'])
test_df = test_df.dropna()
for column in test_df.columns:
    if test_df[column].dtype == type(object):
        le = sklearn.preprocessing.LabelEncoder()
        test_df[column] = le.fit_transform(test_df[column])
dtree.predict(test_df)

array([1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0], dtype=int64)

In [45]:
print('Accuracy: {:.2f}'.format(dtree.score(x_test,y_test)))

Accuracy: 0.75

### Part B: Random Forest on Wine Dataset from Week 3

#### Target the Quality column
Build a Random Forest

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
df.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [48]:
x = df_clean.drop(columns='Survived')
y = df_clean['Survived']

In [49]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [50]:
rf = RandomForestClassifier(n_estimators=100) #100 is no of trees
rf.fit(X_train, y_train)

RandomForestClassifier()

In [51]:
pred_df = pd.DataFrame(rf.predict(X_test), columns=['pred'])
pred_df['actual'] = y_test.values
pred_df['residual'] = (pred_df['pred'] - pred_df['actual']).abs()
pred_df

     pred  actual  residual
0       0       0         0
1       1       1         0
2       1       1         0
3       1       1         0
4       0       0         0
..    ...     ...       ...
174     1       1         0
175     1       1         0
176     0       0         0
177     0       0         0
178     0       0         0

[179 rows x 3 columns]

In [52]:
1 - pred_df['residual'].sum() / pred_df.count()

pred        0.821229
actual      0.821229
residual    0.821229
dtype: float64

In [53]:
rf.score(X_test, y_test)

0.8212290502793296

In [54]:
from sklearn.metrics import accuracy_score

In [55]:
accuracy_score(pred_df['actual'], pred_df['pred'])

0.8212290502793296

### Which model returned better results?  What metric did you use to determine this ?

Random Forest give us Better Results (81%), In random forest I use raw score metric.

### What Does the random_state parameter do when give to train_test_split?

As train_test_split() function shuffles the data and split it but random_State parameter can also do Shuffling.